{% extends 'adminbase.html' %}
{% block content %}
{% load static %}

<style>
    @keyframes pulse {
      0% { transform: scale(1); }
      50% { transform: scale(1.2); }
      100% { transform: scale(1); }
    } 

    @keyframes ring {
      0% { transform: rotate(0deg); }
      25% { transform: rotate(15deg); }
      50% { transform: rotate(-15deg); }
      75% { transform: rotate(10deg); }
      100% { transform: rotate(0deg); }
    }

    .notification-icon {
      animation: pulse 1s infinite, ring 2s ease-in-out infinite; /* Adjust the duration as needed */
    }
</style>


<div class="body-wrapper">
    <div class="container-fluid">

        <nav aria-label="breadcrumb ">
            <ol class="breadcrumb pt-3">
                <li class="breadcrumb-item"><a href="{% url 'admindash' %}" class="text-warning-emphasis">Dashboard</a></li>
                <li class="breadcrumb-item" area-current="page">Notifications</li>
            </ol>
        </nav>
        

        <!-- All notifications -->
       
        <div class="row mt-4">

            <div class="row row-cols-1 row-cols-md-1 g-4">
                {% for c in companies %}
                <div class="col">
                  <div class="card h-100 bg-black rounded-4">
                    <div class="card-body">
                        <h4><i class="fas fa-exclamation-triangle fa-lg text-warning  ms-1"></i> <span class="h5 ms-4 text-white-50">Payment Term Overdue in</span></h4>
                      
                    </div>
                  </div>
                </div>
                {% endfor %}
            </div>
            
            <div class="row row-cols-1 row-cols-md-3 g-3">
                <!-- payment term extension notifications of distributor and direct clients -->
                {% for p in pterm_updation %}

                {% if p.distributor %}
                <div class="col">
                    <div class="card h-100 bg-black rounded-4">
                        <div class="card-body">
                            <h4><i class="fa fa-rupee-sign fa-lg text-warning  ms-1"></i> <span class="h5 ms-4 text-white-50">Payment Term Extension</span></h4>
                            <h4 class="text-white mt-3">{{ p.distributor.login_details.first_name }} {{ p.distributor.login_details.last_name }}</h4>
                            <p class="text-white-50">want to subscribe a new plan ...</p>
                            <a class="text-warning-emphasis" href="{% url 'dist_pterm_updation_details' p.id %}">View More</a>
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if p.company %}
                {% if p.company.reg_action == 'self' %}
                <div class="col">
                    <div class="card h-100 bg-black rounded-4">
                        <div class="card-body">
                            <h4><i class="fa fa-rupee-sign fa-lg text-warning  ms-1"></i> <span class="h5 ms-4 text-white-50">Payment Term Extension</span></h4>
                            <h4 class="text-white mt-3">{{ p.company.login_details.first_name }} {{ p.company.login_details.last_name }}</h4>
                            <p class="text-white-50">want to subscribe a new plan ...</p>
                            <a class="text-warning-emphasis" href="{% url 'dist_pterm_updation_details' p.id %}">View More</a>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endif %}

                {% endfor %}

                <!-- module updations notifications of direct clients-->
                {% for d in data %}
                {% if d.company.reg_action == 'self' %}
                <div class="col">
                <div class="card h-100 bg-black rounded-4">
                    <div class="card-body">
                        <h4><i class="fas fa-cogs fa-lg text-warning ms-1"></i> <span class="h5 ms-4 text-white-50">Module Updation</span></h4>
                        <h4 class="text-white mt-3">{{ d.company.company_name }}</h4>
                        <p class="text-white-50">want to update current modules ...</p>
                        <a class="text-warning-emphasis" href="{% url 'module_updation_details' d.id %}">View More</a>
                    </div>
                </div>
                </div>
                {% endif %}
                {% endfor %}
                
                
                
            </div>
    
        </div>
        
        



        <!-- payment term edit notifications -->
        <!-- {% for p in pterm_updation %}
        {% if p.distributor %}
        <div class="row mt-4">
            <h5 class="text-white">Payment Term Update<span class="text-warning-emphasis fw-bolder"> (Distributors)</span></h5>
            <div class="row row-cols-1 row-cols-md-4 g-3">
                
                
                <div class="col">
                    <div class="card h-100 bg-black">
                    <div class="card-body">
                        <h3><i class="fa fa-bell fa-lg text-warning notification-icon ms-1"></i></h3>
                        <h3 class="text-white">{{ p.distributor.login_details.first_name }} {{ p.distributor.login_details.last_name }}</h3>
                        <p class="text-white-50">wants to  update payment terms</p>
                        <a class="text-warning-emphasis" href="{% url 'dist_pterm_updation_details' p.id %}">View More</a>
                    </div>
                    </div>
                </div>
               
                
                
            </div>
    
        </div>
        <hr class="text-warning mt-3">
        {% endif %}

        {% if p.company %}
        {% if p.company.reg_action == 'self' %}
        <div class="row mt-4">
            <h5 class="text-white">Payment Term Update<span class="text-warning-emphasis fw-bolder"> (Clients)</span></h5>
            <div class="row row-cols-1 row-cols-md-4 g-3">
                
                
                <div class="col">
                    <div class="card h-100 bg-black">
                    <div class="card-body">
                        <h3><i class="fa fa-bell fa-lg text-danger notification-icon ms-1"></i></h3>
                        <h3 class="text-white">{{ p.distributor.login_details.first_name }} {{ p.distributor.login_details.last_name }}</h3>
                        <p class="text-white-50">wants to  update payment terms</p>
                        <a class="text-warning-emphasis" href="{% url 'dist_pterm_updation_details' p.id %}">View More</a>
                    </div>
                    </div>
                </div>
               
                
                
            </div>
    
        </div>
        <hr class="text-warning mt-3">
        {% endif %}
        {% endif %}




        {% endfor %} -->
        

        

        

    </div>
</div>   
    
    

{% endblock  %}