{% extends 'adminbase.html' %}
{% load static %}
{% block content %}

<div class="body-wrapper">
    <div class="container-fluid" >
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'admindash' %}" class="text-warning-emphasis">Dashboard</a></li>
              <li class="breadcrumb-item"><a href="{% url 'admin_distributors' %}" class="text-warning-emphasis">Distributors</a></li>
              <li class="breadcrumb-item" aria-current="page">Clients under Distributor</li>
            </ol>
        </nav>






    </div>
</div>